html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }

body {
    background-color:#318fc1;
    font-family: Arial, sans-serif;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll;
}

.container {
    background-color: #e0e7c0;
    padding: 20px;
    max-width: 650px; 
    width: 300%; 
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
  }

  .container button {
    margin: 2px;
  }