html {
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

body {
    margin: 0;
    padding: 0px;
    background-color:#318fc1;
    font-family: Arial, sans-serif;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
}

.container {
    margin: 0;
    background-color: #e7ebd8;
    padding: 20px;
    margin-top: 20px;
    height: 85%;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
  }

  .container button {
    margin: 2px;
  }